<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<form ng-show="questions===false" action="">
			<div class="form-group">
				<label for="email">Enter your email address</label>
				<input class="form-control" type="text" name="email" ng-model="email">
			</div>

			<div class="form-group">
				<button class="btn btn-normal" ng-model="submit" ng-click="checkEmail()">Reset Password</button>
			</div>
		</form>


		<form ng-show="questions" action="">
			<div class="form-group">
				<label>Answer your security questions</label>
			
					<p ng-show="firstQuestion">{{questions[0]}}?</p>
					<p ng-show="!firstQuestion">{{questions[1]}}?</p>
					<input ng-model="answer" type="text" name="answer0" class="form-control" />
					<p><small><a ng-click="newQuestion()">Give me a different question</a></small></p>
				
				
					
					
					
				
			</div>

			<div class="form-group">
				<button class="btn btn-normal" ng-model="submit" ng-click="checkAnswers()">Submit Answers</button>
			</div>
		</form>
	</div>
</div>