<div class="row">
	<div class="col-md-6 col-md-offset-2" >
		<form action="">
			<div class="form-group">
				<label for="username">Username</label>
				<input name="username" class="form-control" ng-model="username" />	
			</div>

			
			<div class="form-group">
				<label for="email">Email</label>
				<input name="email" class="form-control" ng-model="email" />
			</div>
			
			<div class="form-group">
				<label for="role">Role</label>
				<select name="role" ng-model="role" ng-options="option.value as option.name for option in roles"></select>
			</div>

			<button class="btn btn-normal" ng-click="createUser()">Create User</button>
	</form>
	</div>
</div>