<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<form action="">
			<div class="form-group">
				<label for="title">Title</label>
				<input name="title" class="form-control" ng-model="post.title" />	
			</div>

			<div class="form-group">
				<label for="slug">Slug</label>
				<input name="slug" class="form-control" ng-model="post.slug" />	
			</div>
			
			<div class="form-group">
				<label for="body">Body</label>
				<textarea class="form-control" name="body" ng-model="post.body"></textarea>	
			</div>

			<div class="form-group">
				<label name="tags" for="">Tags<small>(comma separated list)</small></label>
				<input type="text" class="form-control" ng-model="post.tags" name="tags" />
			</div>
			<ul class="list-unstyled list-inline">
				<li><a class="btn btn-info"  ng-click="postUpdate()">UpdatePost</a></li>
				<li><a class="btn btn-danger" href="/post/{{post.slug}}">Cancel</a></li>
			</ul>
			
	</form>
	</div>
</div>