
<div class="row">
	<div class="col-md-6 col-md-offset-2">
		<ul ng-if="isLoggedIn" class="list-unstyled list-inline">
			<li><a  class="btn btn-info" href="/edit-post/{{post.slug}}">Edit Post</a></li>
		</ul>
		<h1 class="page-header">{{post.title}}</h1>
		<div ng-bind-html='post.body'></div>
		<ul class="list-unstyled list-inline">
			<li ng-show="tagsExist"><strong>tags:</strong></li>
			<li ng-repeat="tag in post.tags">
				<a href="/posts/tags/{{tag}}">{{tag}}</a> >>
			</li> 
		</ul>
	</div>
	<div class="col-md-3 col-md-3-offset-1">
		<sidebar/>
		
		
	</div>
</div>