<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<form action="">
			<div class="form-group">
				<label for="username">Username</label>
				<input name="username" class="form-control" ng-model="user.username" />	
			</div>
			
			<!--<div ng-if="authUser.id === user.id" class="form-group">-->
			<div class="form-group">
				<label for="password">Password</label>
				<input name="password" class="form-control" ng-change="emitPassword(password)" ng-model="password" />	
			</div>
			
			<div class="form-group">
				<label for="email">Email</label>
				<input name="email" class="form-control" ng-model="user.email" />
			</div>

			<div class="form-group">
				<label for="question1">Security Question 1</label>
				<input type="text" class="form-control"  ng-model="questions[0].question">
				<label for="answer">Answer 1</label>
				<input type="text" class="form-control"  ng-model="questions[0].answer">
			</div>

			<div class="form-group">
				<label for="question2">Security Question 2</label>
				<input type="text" class="form-control" ng-model="questions[1].question">
				<label for="answer2">Answer 2</label>
				<input type="text" class="form-control"  ng-model="questions[1].answer">
			</div>
			
	
			<button class="btn btn-normal" ng-click="userUpdate()">Edit User</button>
	</form>
	</div>
</div>
